<div class="show-container">
    <div class="show-header">
        <p><%= @user.name %>さんの詳細</p>
    </div>

    <div class="show-contents">
        <div class="more">
            <div class="more-lists">
                <p>名前 :</p>
                <p><%= @user.name %></p>
            </div>

            <div class="more-lists">
                <p>フリガナ :</p>
                <p><%= @user.name_kana %></p>
            </div>

            <div class="more-lists">
                <p>Email :</p>
                <p><%= @user.email %></p>
            </div>

            <%= link_to root_path do %>
                <button class="cancel-btn">戻る</button>
            <% end %>

            <%= link_to edit_user_path do %>
                <button class="cancel-btn">編集</button>
            <% end %>
        </div>  
    </div>
</div>