<div class="contents">
  <div class="top-content">
    <div class="title">
      <%= link_to "Memosuke", root_path, class: "title-path" %>
    </div>
  </div>

  <div class="container">
    <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
    
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "email-field", placeholder:"", autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.label :remember_me %><br />
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="login-btn">
        <%= f.submit "Log in", class: "login-push-btn" %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>